@import url(https://fonts.googleapis.com/css?family=DM+Sans:400,400i,500,500i,700,700i&display=swap);

.btn {
  border-width: 2px;
}
body {
  font-family: DM Sans;
}
.display-1 {
  font-family: 'Photograph Signature';
  font-size: 5.1rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 6.375rem;
}
.display-2 {
  font-family: 'OpenSans-Italic';
  font-size: 1.3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 1.625rem;
}
.display-4 {
  font-family: 'OpenSans-Italic';
  font-size: 1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.25rem;
}
.display-5 {
  font-family: 'italic';
  font-size: 2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'DM Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.25rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 4.08rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.57rem;
    font-size: calc( 2.4349999999999996rem + (5.1 - 2.4349999999999996) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.4349999999999996rem + (5.1 - 2.4349999999999996) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.04rem;
    font-size: calc( 1.105rem + (1.3 - 1.105) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.105rem + (1.3 - 1.105) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn-primary,
.btn-primary:active {
  color: #1b2026 !important;
  background-color: #f40a0a !important;
  border-color: #f40a0a !important;
}
.btn-primary:active,
.btn-primary:active:active {
  color: #1b2026 !important;
}
.btn-primary:hover,
.btn-primary:active:hover,
.btn-primary:focus,
.btn-primary:active:focus {
  background: white!important;
  border-color: white!important;
  color: #1b2026 !important;
}
.btn-secondary,
.btn-secondary:active {
  color: white!important;
  background-color: #1b2026 !important;
  border-color: #1b2026 !important;
}
.btn-secondary:hover,
.btn-secondary:active:hover,
.btn-secondary:focus,
.btn-secondary:active:focus {
  background: #f40a0a !important;
  border-color: #f40a0a !important;
  color: #1b2026 !important;
}
.btn-info,
.btn-info:active {
  color: #1b2026 !important;
  background-color: #dce8eb !important;
  border-color: #dce8eb !important;
}
.btn-info:hover,
.btn-info:active:hover,
.btn-info:focus,
.btn-info:active:focus {
  background-color: #1b2026 !important;
  border-color: #1b2026 !important;
  color: white!important;
}
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #f40a0a !important;
}
.bg-success {
  background-color: #464646 !important;
}
.bg-info {
  background-color: #dce8eb !important;
}
.bg-warning {
  background-color: #dce8eb !important;
}
.bg-danger {
  background-color: #ff8484 !important;
}
.btn-primary {
  box-shadow: none!important;
}
.btn-primary,
.btn-primary:active {
  background-color: #f40a0a !important;
  border-color: #f40a0a !important;
  color: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff;
  background-color: #a10707;
  border-color: #a10707;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #a10707 !important;
  border-color: #a10707 !important;
}
.btn-secondary {
  box-shadow: none!important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #1b2026 !important;
  border-color: #1b2026 !important;
  color: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-info {
  box-shadow: none!important;
}
.btn-info,
.btn-info:active {
  background-color: #dce8eb !important;
  border-color: #dce8eb !important;
  color: #49747f;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff;
  background-color: #a5c4cb;
  border-color: #a5c4cb;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #49747f !important;
  background-color: #a5c4cb !important;
  border-color: #a5c4cb !important;
}
.btn-success {
  box-shadow: none!important;
}
.btn-success,
.btn-success:active {
  background-color: #464646 !important;
  border-color: #464646 !important;
  color: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff;
  background-color: #1b1b1b;
  border-color: #1b1b1b;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #1b1b1b !important;
  border-color: #1b1b1b !important;
}
.btn-warning {
  box-shadow: none!important;
}
.btn-warning,
.btn-warning:active {
  background-color: #dce8eb !important;
  border-color: #dce8eb !important;
  color: #49747f;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff;
  background-color: #a5c4cb;
  border-color: #a5c4cb;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #49747f !important;
  background-color: #a5c4cb !important;
  border-color: #a5c4cb !important;
}
.btn-danger {
  box-shadow: none!important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff8484 !important;
  border-color: #ff8484 !important;
  color: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff;
  background-color: #ff2d2d;
  border-color: #ff2d2d;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff2d2d !important;
  border-color: #ff2d2d !important;
}
.btn-white {
  box-shadow: none!important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f;
  background-color: #cfcfcf;
  border-color: #cfcfcf;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black {
  box-shadow: none!important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline {
  color: #f40a0a !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #f40a0a;
  color: #f40a0a;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #a10707 !important;
  background-color: transparent!important;
  border-color: #a10707 !important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #f40a0a !important;
  border-color: #f40a0a !important;
}
.btn-primary-outline:active {
  color: #f40a0a !important;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus {
  border-color: #f40a0a !important;
  background: #f40a0a !important;
  color: #1b2026 !important;
}
.btn-secondary-outline {
  color: #1b2026 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #1b2026;
  color: #1b2026;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: #000000 !important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #1b2026 !important;
  border-color: #1b2026 !important;
}
.btn-secondary-outline:active {
  color: #1b2026 !important;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus {
  border-color: #f40a0a !important;
  background: #f40a0a !important;
  color: #1b2026 !important;
}
.btn-info-outline {
  color: #dce8eb !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #dce8eb;
  color: #dce8eb;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #a5c4cb !important;
  background-color: transparent!important;
  border-color: #a5c4cb !important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #49747f !important;
  background-color: #dce8eb !important;
  border-color: #dce8eb !important;
}
.btn-info-outline:active {
  color: #dce8eb !important;
}
.btn-info-outline:hover,
.btn-info-outline:focus {
  border-color: #f40a0a !important;
  background: #f40a0a !important;
  color: #1b2026 !important;
}
.btn-success-outline {
  color: #464646 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #464646;
  color: #464646;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #1b1b1b !important;
  background-color: transparent!important;
  border-color: #1b1b1b !important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #464646 !important;
  border-color: #464646 !important;
}
.btn-success-outline:active {
  color: #464646 !important;
}
.btn-success-outline:hover,
.btn-success-outline:focus {
  border-color: #f40a0a !important;
  background: #f40a0a !important;
  color: #1b2026 !important;
}
.btn-warning-outline {
  color: #dce8eb !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #dce8eb;
  color: #dce8eb;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #a5c4cb !important;
  background-color: transparent!important;
  border-color: #a5c4cb !important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #49747f !important;
  background-color: #dce8eb !important;
  border-color: #dce8eb !important;
}
.btn-warning-outline:active {
  color: #dce8eb !important;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus {
  border-color: #f40a0a !important;
  background: #f40a0a !important;
  color: #1b2026 !important;
}
.btn-danger-outline {
  color: #ff8484 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #ff8484;
  color: #ff8484;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff2d2d !important;
  background-color: transparent!important;
  border-color: #ff2d2d !important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff8484 !important;
  border-color: #ff8484 !important;
}
.btn-danger-outline:active {
  color: #ff8484 !important;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus {
  border-color: #f40a0a !important;
  background: #f40a0a !important;
  color: #1b2026 !important;
}
.btn-black-outline {
  color: #232323 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: #000000 !important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-black-outline:active {
  color: #232323 !important;
}
.btn-black-outline:hover,
.btn-black-outline:focus {
  border-color: #f40a0a !important;
  background: #f40a0a !important;
  color: #1b2026 !important;
}
.btn-white-outline {
  color: #fafafa !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: #cfcfcf !important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.btn-white-outline:active {
  color: #fafafa !important;
}
.btn-white-outline:hover,
.btn-white-outline:focus {
  border-color: #f40a0a !important;
  background: #f40a0a !important;
  color: #1b2026 !important;
}
.text-primary {
  color: #f40a0a !important;
}
.text-secondary {
  color: #1b2026 !important;
}
.text-success {
  color: #464646 !important;
}
.text-info {
  color: #dce8eb !important;
}
.text-warning {
  color: #dce8eb !important;
}
.text-danger {
  color: #ff8484 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #f96b6b !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #455262 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #797979 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #ffffff !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #ffffff !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ffeaea !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #ffffff !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #565656 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #f40a0a;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #dce8eb;
}
.alert-warning {
  background-color: #dce8eb;
}
.alert-danger {
  background-color: #ff8484;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #f40a0a;
  border-color: #f40a0a;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #f40a0a;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #fdcdcd;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #b9b9b9;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
#scrollToTop a {
  border-radius: 100px;
}
.form-control {
  font-family: 'OpenSans-Italic';
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.25rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #f40a0a !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'OpenSans-Italic';
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.25rem;
}
blockquote {
  border-color: #f40a0a;
}
/* Forms */
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #f40a0a;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #f40a0a;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #f40a0a;
  border-bottom-color: #f40a0a;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #f40a0a !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #1b2026 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23f40a0a' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-sEWbiZd6tX {
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-image: url("../../../assets/images/img-20191230-000435-2-1994x2326.jpeg");
}
.cid-sEWbiZd6tX .mbr-section-title {
  color: #efefef;
}
.cid-sEWbiZd6tX .mbr-text,
.cid-sEWbiZd6tX .mbr-section-btn {
  color: #ffffff;
}
.cid-sEWbiZd6tX .mbr-section-subtitle {
  color: #efefef;
}
.cid-sEW6vDl8dU {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-sEW6vDl8dU .navbar-collapse {
  transition: none;
  min-height: 100px;
}
.cid-sEW6vDl8dU nav.navbar {
  position: fixed;
}
.cid-sEW6vDl8dU .nav-item {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cid-sEW6vDl8dU .nav-item:hover {
  background: white;
}
@media (max-width: 992px) {
  .cid-sEW6vDl8dU .nav-item {
    height: auto;
  }
}
.cid-sEW6vDl8dU .navbar-nav {
  margin: auto;
  height: 100%!important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-sEW6vDl8dU .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sEW6vDl8dU .dropdown-menu {
  padding: 0;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-sEW6vDl8dU .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-sEW6vDl8dU .dropdown-item:hover,
.cid-sEW6vDl8dU .dropdown-item:focus {
  background: white !important;
}
.cid-sEW6vDl8dU .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-sEW6vDl8dU .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-sEW6vDl8dU .nav-dropdown .link {
  padding: 0.6em .6em !important;
  margin: 0 0.6em !important;
}
.cid-sEW6vDl8dU .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-sEW6vDl8dU .nav-link {
  position: relative;
}
.cid-sEW6vDl8dU .container {
  display: flex;
  margin: auto;
}
.cid-sEW6vDl8dU .iconfont-wrapper {
  color: #fd0c0c !important;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  background: white;
  margin: 0 0.3rem;
  border-radius: 10px;
}
.cid-sEW6vDl8dU .dropdown-menu,
.cid-sEW6vDl8dU .navbar.opened {
  background: #1b2026 !important;
}
.cid-sEW6vDl8dU .nav-item:focus,
.cid-sEW6vDl8dU .nav-link:focus {
  outline: none;
}
.cid-sEW6vDl8dU .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-sEW6vDl8dU .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sEW6vDl8dU .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  vertical-align: sub;
}
.cid-sEW6vDl8dU .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sEW6vDl8dU .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-sEW6vDl8dU .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-sEW6vDl8dU .navbar {
  min-height: 100px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #1b2026;
}
.cid-sEW6vDl8dU .navbar.opened {
  transition: all 0.3s;
}
.cid-sEW6vDl8dU .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-sEW6vDl8dU .navbar .navbar-logo img {
  width: auto;
}
.cid-sEW6vDl8dU .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-sEW6vDl8dU .navbar.collapsed {
  justify-content: center;
}
.cid-sEW6vDl8dU .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-sEW6vDl8dU .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-sEW6vDl8dU .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3.1rem);
  }
}
.cid-sEW6vDl8dU .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sEW6vDl8dU .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-sEW6vDl8dU .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-sEW6vDl8dU .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-sEW6vDl8dU .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-sEW6vDl8dU .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-sEW6vDl8dU .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-sEW6vDl8dU .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sEW6vDl8dU .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sEW6vDl8dU .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-sEW6vDl8dU .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-sEW6vDl8dU .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-sEW6vDl8dU .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-sEW6vDl8dU .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-sEW6vDl8dU .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-sEW6vDl8dU .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-sEW6vDl8dU .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-sEW6vDl8dU .navbar.navbar-short {
  min-height: 60px;
}
.cid-sEW6vDl8dU .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-sEW6vDl8dU .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-sEW6vDl8dU .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-sEW6vDl8dU .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sEW6vDl8dU .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sEW6vDl8dU .dropdown-item.active,
.cid-sEW6vDl8dU .dropdown-item:active {
  background-color: transparent;
}
.cid-sEW6vDl8dU .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-sEW6vDl8dU .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sEW6vDl8dU .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sEW6vDl8dU .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #1b2026;
}
.cid-sEW6vDl8dU .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sEW6vDl8dU .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sEW6vDl8dU ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-sEW6vDl8dU .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-sEW6vDl8dU button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-sEW6vDl8dU button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffe161;
}
.cid-sEW6vDl8dU button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-sEW6vDl8dU button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sEW6vDl8dU button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sEW6vDl8dU button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-sEW6vDl8dU nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sEW6vDl8dU nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-sEW6vDl8dU nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-sEW6vDl8dU nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sEW6vDl8dU .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-sEW6vDl8dU a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-sEW6vDl8dU .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sEW6vDl8dU .navbar {
    height: 70px;
  }
  .cid-sEW6vDl8dU .navbar.opened {
    height: auto;
  }
  .cid-sEW6vDl8dU .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-sEW6HlEHba {
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: #efefef;
}
.cid-sEW6HlEHba .card:not(:nth-last-child(1)) {
  margin-bottom: 2rem;
}
.cid-sEW6HlEHba .card-wrapper {
  background-color: #0d0b0b;
  border-radius: 10px;
  overflow: visible;
  padding: 0rem 0;
  background-color: transparent;
}
.cid-sEW6HlEHba p {
  line-height: 2.5;
}
.cid-sEW6HlEHba .card-box {
  padding: 4rem 4rem;
}
@media (max-width: 767px) {
  .cid-sEW6HlEHba .card-box {
    padding: 2rem 1rem;
  }
}
.cid-sEW6HlEHba .image-wrapper img {
  width: 100%;
  object-fit: cover;
  transform: scale(1.1);
  border: 10px solid #ffffff;
  border-radius: 10px;
}
@media (max-width: 992px) {
  .cid-sEW6HlEHba .image-wrapper img {
    transform: scale(1);
  }
}
.cid-sEW6HlEHba .social-row .soc-item {
  display: inline-block;
  text-align: center;
  border-radius: 1rem;
  margin-right: 0.6rem;
  margin-bottom: 1rem;
  padding: 1.3rem;
  background: #ffffff;
  transition: all 0.3s;
}
.cid-sEW6HlEHba .social-row .soc-item .mbr-iconfont {
  display: flex;
  justify-content: center;
  align-content: center;
  color: #bbbbbb;
  font-size: 1.3rem;
  transition: all 0.3s;
}
.cid-sEW6HlEHba .social-row .soc-item:hover {
  background-color: #f7d9c4;
}
.cid-sEW6HlEHba .social-row .soc-item:hover .mbr-iconfont {
  color: #ffffff;
}
@media (max-width: 767px) {
  .cid-sEW6HlEHba .social-row .soc-item {
    margin: 0 0.3rem;
  }
}
.cid-sEW6HlEHba .mbr-text,
.cid-sEW6HlEHba .social-row {
  color: #000000;
}
.cid-sEW6HlEHba .card-title {
  color: #efefef;
}
.cid-sEW6VHc4Rb {
  padding-top: 45px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-sEW6VHc4Rb .progress {
  width: 100%;
}
.cid-sEW6VHc4Rb p {
  margin-bottom: 0.4rem;
}
.cid-sEW6VHc4Rb .title-wrap {
  display: flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}
.cid-sEW6VHc4Rb progress {
  height: 6px;
}
.cid-sEW6VHc4Rb .progressbar-number {
  display: inline-block;
  width: 50px;
}
.cid-sEW6VHc4Rb .progress-primary {
  background: rgba(206, 206, 206, 0.4);
  border: none;
  outline: none;
}
.cid-sEW6VHc4Rb .progress-primary::-webkit-progress-bar {
  background: rgba(206, 206, 206, 0.4);
}
.cid-sEW6VHc4Rb .progress_value {
  position: relative;
}
.cid-sEW6VHc4Rb .progress1 .progressbar-number:before,
.cid-sEW6VHc4Rb .progress2 .progressbar-number:before,
.cid-sEW6VHc4Rb .progress3 .progressbar-number:before,
.cid-sEW6VHc4Rb .progress4 .progressbar-number:before,
.cid-sEW6VHc4Rb .progress5 .progressbar-number:before {
  position: absolute;
  right: 15px;
  top: 0;
}
.cid-sEW6VHc4Rb progress[value]::-webkit-progress-bar {
  background: rgba(206, 206, 206, 0.4);
}
.cid-sEW6VHc4Rb progress::-webkit-progress-value {
  background: #31363b;
}
.cid-sEW6VHc4Rb progress[value]::-moz-progress-bar {
  background: #31363b;
}
.cid-sEW6VHc4Rb progress::-ms-fill {
  background: #31363b;
}
.cid-sEW6VHc4Rb .progress1 .progressbar-number:before {
  content: '81';
}
.cid-sEW6VHc4Rb .progress2 .progressbar-number:before {
  content: '76';
}
.cid-sEW6VHc4Rb .progress3 .progressbar-number:before {
  content: '88';
}
.cid-sEW6VHc4Rb .progress4 .progressbar-number:before {
  content: '56';
}
.cid-sEW6VHc4Rb .progress5 .progressbar-number:before {
  content: '94';
}
.cid-sEW6VHc4Rb .section-content-text {
  color: #454545;
}
.cid-sEW6VHc4Rb .progressbar-title p,
.cid-sEW6VHc4Rb .progress_value {
  color: #31363b;
}
.cid-sEW6VHc4Rb .mbr-section-subtitle {
  color: #777777;
}
.cid-sEWP5QCWn2 {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #fd0c0c;
}
.cid-sEWP5QCWn2 .item-wrapper {
  position: relative;
  border-radius: 10px;
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-flow: column nowrap;
}
.cid-sEWP5QCWn2 .item-content {
  background: #efefef;
  transition: all 0.3s;
  border: 2px solid #777777;
  border-top: 0px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 2rem 2.5rem;
}
.cid-sEWP5QCWn2 .item-content:hover {
  background: #ffffff;
  border-color: #ffffff;
}
@media (max-width: 767px) {
  .cid-sEWP5QCWn2 .item-content {
    padding: 1rem 1.5rem;
  }
}
.cid-sEWP5QCWn2 .img-text {
  position: absolute;
  bottom: -1rem;
  left: 2rem;
  padding: 0.5rem 1rem;
  background: #ffffff;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  color: #777777;
}
@media (max-width: 767px) {
  .cid-sEWP5QCWn2 .img-text {
    left: 1rem;
  }
}
.cid-sEWP5QCWn2 img,
.cid-sEWP5QCWn2 .item-img {
  position: relative;
  width: 100%;
  height: 100%;
  height: 225px;
  object-fit: cover;
}
.cid-sEWP5QCWn2 .item:focus,
.cid-sEWP5QCWn2 span:focus {
  outline: none;
}
.cid-sEWP5QCWn2 .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-sEWP5QCWn2 .mbr-section-title {
  color: #ffffff;
}
.cid-sEWP5QCWn2 .mbr-text,
.cid-sEWP5QCWn2 .mbr-section-btn {
  text-align: left;
  color: #777777;
}
.cid-sEWP5QCWn2 .item-title {
  text-align: left;
  color: #1b2026;
}
.cid-sEWP5QCWn2 .item-subtitle {
  text-align: left;
  color: #1b2026;
}
.cid-sEWP5QCWn2 .mbr-section-subtitle {
  color: #ffffff;
}
.cid-sEW6zQSk5o {
  padding-top: 6rem;
  padding-bottom: 7rem;
  background-color: #fd0c0c;
}
.cid-sEW6zQSk5o .mbr-iconfont {
  display: block;
  font-size: 4rem;
  color: #ff8484;
  margin-bottom: 2rem;
  transition: all 0.3s;
}
.cid-sEW6zQSk5o .card-text {
  color: #777777;
}
.cid-sEW6zQSk5o .link {
  font-size: 2rem;
  margin-right: 1rem;
  border: 1px solid #efefef;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0rem;
}
.cid-sEW6zQSk5o .wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.cid-sEW6zQSk5o .card-link {
  opacity: 0;
  color: #ffffff;
  transition: all 0.3s;
  transform: translateX(-10px);
}
.cid-sEW6zQSk5o .card-wrapper {
  padding: 3rem;
  transition: all 0.3s;
  background: #ffffff;
  position: relative;
}
.cid-sEW6zQSk5o .card-wrapper:before {
  position: absolute;
  right: -100px;
  bottom: -100px;
  content: '';
  transition: all 0.3s;
  width: 200px;
  height: 200px;
  background: #ff8484;
  transform: rotate(45deg);
  opacity: 0.1;
}
.cid-sEW6zQSk5o .card-wrapper:hover {
  background: #3d54d0;
}
.cid-sEW6zQSk5o .card-wrapper:hover:before {
  opacity: 1;
}
.cid-sEW6zQSk5o .card-wrapper:hover .card-title,
.cid-sEW6zQSk5o .card-wrapper:hover .card-text,
.cid-sEW6zQSk5o .card-wrapper:hover .mbr-iconfont {
  color: #ffffff !important;
}
.cid-sEW6zQSk5o .card-wrapper:hover .card-link {
  opacity: 1;
  transform: translateX(0px);
}
@media (max-width: 767px) {
  .cid-sEW6zQSk5o .card-wrapper {
    padding: 2rem 1rem;
    background: #3d54d0;
  }
  .cid-sEW6zQSk5o .card-wrapper:before {
    opacity: 1;
  }
  .cid-sEW6zQSk5o .card-wrapper .card-title,
  .cid-sEW6zQSk5o .card-wrapper .card-text,
  .cid-sEW6zQSk5o .card-wrapper .mbr-iconfont {
    color: #ffffff !important;
  }
  .cid-sEW6zQSk5o .card-wrapper .card-link {
    opacity: 1;
    transform: translateX(0px);
  }
}
.cid-sEW6zQSk5o .center {
  background: #3d54d0;
}
.cid-sEW6zQSk5o .center:before {
  opacity: 1;
}
.cid-sEW6zQSk5o .center .card-title,
.cid-sEW6zQSk5o .center .card-text,
.cid-sEW6zQSk5o .center .mbr-iconfont {
  color: #ffffff !important;
}
.cid-sEW6zQSk5o .center .card-link {
  opacity: 1;
  transform: translateX(0px);
}
.cid-sEW6zQSk5o .row {
  justify-content: center;
}
.cid-sEW6TG13Iw {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #efefef;
}
.cid-sEW6TG13Iw .mbr-section-subtitle {
  color: #14191e;
}
.cid-sEW6TG13Iw .mbr-text {
  color: #777777;
}
.cid-sEW6TG13Iw ul {
  margin: 0;
  list-style: none;
  padding-left: 1rem;
}
.cid-sEW6TG13Iw ul li {
  margin-bottom: 1rem;
  position: relative;
  list-style: none;
  padding-left: 1rem;
}
.cid-sEW6TG13Iw ul li:before {
  position: absolute;
  left: -20px;
  content: "✓";
  display: flex;
  justify-content: center;
  align-items: center;
  color: #777777;
  width: 25px;
  height: 25px;
}
.cid-sEW6TG13Iw .mbr-list {
  color: #777777;
}
.cid-sEW6ITuOpZ {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background: #fd0c0c;
}
.cid-sEW6ITuOpZ .team-card {
  margin-bottom: 2rem;
  transition: all 0.3s;
}
.cid-sEW6ITuOpZ .team-card:hover {
  transform: translateY(-10px);
}
.cid-sEW6ITuOpZ .mbr-flex {
  display: flex;
  position: relative;
  align-items: center;
}
.cid-sEW6ITuOpZ .card-wrap {
  background: #ffffff;
  border-radius: 10px;
  padding: 2.5rem;
}
@media (max-width: 991px) {
  .cid-sEW6ITuOpZ .card-wrap {
    margin-bottom: 2rem;
  }
}
.cid-sEW6ITuOpZ .card-wrap .image-wrap img {
  width: 65px;
  height: 65px;
  object-fit: cover;
  margin: auto;
  margin-right: 1rem;
  border-radius: 50%;
}
@media (max-width: 767px) {
  .cid-sEW6ITuOpZ .card-wrap {
    padding: 2rem 1rem;
  }
}
.cid-sEW6ITuOpZ .mbr-iconfont {
  position: absolute;
  top: -3.5rem;
  right: 0rem;
  color: #777777;
  font-size: 3.5rem;
}
@media (max-width: 767px) {
  .cid-sEW6ITuOpZ .mbr-iconfont {
    font-size: 2.5rem;
    top: -2.5rem;
  }
}
.cid-sEW6ITuOpZ .mbr-role,
.cid-sEW6ITuOpZ .social-row {
  color: #777777;
}
.cid-sEW6ITuOpZ .mbr-section-subtitle {
  color: #ffffff;
}
.cid-sEW6ITuOpZ .card-text,
.cid-sEW6ITuOpZ .mbr-section-btn,
.cid-sEW6ITuOpZ .social-row {
  color: #777777;
}
.cid-sEW6ITuOpZ .mbr-section-title {
  color: #ffffff;
}
.cid-sEW6ITuOpZ .card-title,
.cid-sEW6ITuOpZ .social-row {
  color: #31363b;
}
.cid-sF2JodzJTx {
  padding-top: 3rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sF2JodzJTx .mbr-section-subtitle {
  color: #14191e;
}
.cid-sF2JodzJTx .mbr-text {
  color: #777777;
}
.cid-sEW799mVRP {
  padding-top: 105px;
  padding-bottom: 105px;
  background-image: url("../../../assets/images/features3.jpg");
}
.cid-sEW799mVRP .mbr-overlay {
  background-color: #000000;
  opacity: 0.9;
}
.cid-sEW799mVRP input,
.cid-sEW799mVRP textarea {
  padding: 0.4rem 1.4rem!important;
  border-radius: 10px;
}
.cid-sEW799mVRP img {
  width: 90%;
  border-radius: 8px;
}
.cid-sEW799mVRP .btn {
  border-radius: 30px;
  padding: 0.6rem 3rem!important;
}
.cid-sEW799mVRP textarea {
  min-height: 160px;
}
.cid-sEW799mVRP .form-control,
.cid-sEW799mVRP .field-input {
  padding: 0.5rem;
  background-color: #f2f6ff;
  border-color: #ffffff;
  color: #ffffff;
  transition: 0.4s;
  box-shadow: none;
  outline: none;
}
.cid-sEW799mVRP .form-control:hover,
.cid-sEW799mVRP .field-input:hover,
.cid-sEW799mVRP .form-control:focus,
.cid-sEW799mVRP .field-input:focus {
  background-color: #f2f6ff;
  border-color: #ffffff;
  color: #000000;
  box-shadow: none;
  outline: none;
}
.cid-sEW799mVRP input::-webkit-input-placeholder,
.cid-sEW799mVRP textarea::-webkit-input-placeholder {
  color: #ffffff;
}
.cid-sEW799mVRP input:-moz-placeholder,
.cid-sEW799mVRP textarea:-moz-placeholder {
  color: #ffffff;
}
.cid-sEW799mVRP .jq-selectbox li,
.cid-sEW799mVRP .jq-selectbox li {
  background-color: #f2f6ff;
  color: #000000;
}
.cid-sEW799mVRP .jq-selectbox li:hover,
.cid-sEW799mVRP .jq-selectbox li.selected {
  background-color: #f2f6ff;
  color: #000000;
}
.cid-sEW799mVRP .jq-selectbox:hover .jq-selectbox__trigger-arrow {
  border-top-color: #f2f6ff;
}
.cid-sEW799mVRP .jq-selectbox .jq-selectbox__trigger-arrow {
  border-top-color: #f2f6ff;
}
.cid-sEW799mVRP H5 {
  color: #efefef;
  padding-bottom: 2rem;
}
@media (max-width: 992px) {
  .cid-sEW799mVRP img {
    width: 100%;
  }
  .cid-sEW799mVRP .google-map {
    margin-bottom: 2rem;
  }
}
.cid-sEW799mVRP .google-map {
  height: 50rem;
  position: relative;
}
.cid-sEW799mVRP .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-sEW799mVRP .google-map [data-state-details] {
  color: #6b6763;
  font-family: Montserrat;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-sEW799mVRP .google-map[data-state] {
  background: #e9e5dc;
}
.cid-sEW799mVRP .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
@media (max-width: 576px) {
  .cid-sEW799mVRP .col-auto {
    width: 100%;
    text-align: center;
  }
}
.cid-sEW799mVRP H4 {
  color: #ffffff;
}
.cid-sEWabrIznU {
  padding-top: 45px;
  padding-bottom: 75px;
  background-color: #ffffff;
}
@media (max-width: 767px) {
  .cid-sEWabrIznU .media-wrap {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-sEWabrIznU .mbr-text {
  color: #767676;
}
@media (max-width: 767px) {
  .cid-sEWabrIznU .links {
    text-align: center !important;
  }
}
@media (max-width: 767px) {
  .cid-sEWabrIznU .footer-lower .copyright {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-sEWabrIznU .footer-lower hr {
  margin: 1rem 0;
  border-color: #000;
  opacity: 0.05;
}
.cid-sEWabrIznU .footer-lower .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.cid-sEWabrIznU .footer-lower .social-list .mbr-iconfont-social {
  font-size: 1.3rem;
  color: #232323;
}
.cid-sEWabrIznU .footer-lower .social-list .soc-item {
  margin: 0 0.5rem;
}
.cid-sEWabrIznU .footer-lower .social-list a {
  margin: 0;
  opacity: 0.5;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}
.cid-sEWabrIznU .footer-lower .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-sEWabrIznU .footer-lower .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
