@font-face {
   font-family: 'Photograph Signature';
   font-display: swap;
   src: url('file:///C:/Users/gb/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-08-02_142034/fonts/Photograph%20Signature/font.ttf');
}
